body{
  scroll-behavior: smooth;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
}

.container{
  min-height: 300px;
  padding-top: 250px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

/* The about us part*/
.ABOUT-US{
  text-align: center;
  font-size: x-small;
  font-family:inherit;
  font-weight: lighter;
  
  
}





#DESIGN{
  display: none;
}
#DEVELOPMENT{
  display: none;
}
#PRODUCTMANAGEMENT{
  display: none;
}

h3{
  text-align: center;
  font-size: small;
}


/*Styling the form*/
.form-group{
  background-image: url(../IMAGES/images/phase1/backgrounds/c_image.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 25px;
  max-width: 100%;
  border-top: 10px;
  border-left: 90px;
  text-align: initial;
  padding-top: 145px;
  padding-left: 155px;
  padding-bottom: 120px;
  color: whitesmoke;
}

#name{
  background-color: inherit;
  border-color: ivory;
  color: whitesmoke;
}
#mail{
  background-color:inherit;
  border-color: ivory;
  color:whitesmoke;
}
#feedback{
  height: 120px;
  width: 60%;
  background-color: inherit;
  border-color:whitesmoke;
}



#fimage{
  text-align: center;
  background-size: cover;
  
}

/*The portofolio images*/


.images{
  text-align: center;
}

h2{
  text-align: center;
  
  
}


/*A background image on  the first three elements*/
.one{
  background-image: url(../IMAGES/images/phase1/h_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  min-width: 1000px;
  width: 85%;
  background-size: cover;
  padding-top: 200px;
  padding-left: 100px;
  color: whitesmoke;
  font-size: x-large;
  text-align: center;
  

  
}
#tiny{
  font-size: xx-small;
  
  
}


/*Background to services*/
.Services{
  text-align:center;
  color: whitesmoke;
  background-image: url(../IMAGES/images/phase1/s_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 250px;
  padding-top: 100px;
  font-size: x-small;
  
  

}


/*styling the last p*/
#last-p{
  text-align: center;
  font-size: x-small;
}

/*Styling the social media icons*/
.footer{
  text-align: center;
  font-size: xx-small;
  
   
  
}
/*styling the service icons*/
.service-icons{
  text-align: center;
  font-size: xx-small;

}
